{{ define "main" }}
  <div class="columns hero-grid">
    <div class="hero-grid__col1">
      <div class="subhero">
        {{ with .Params.subtitle }}
        <h3 style="margin-block-start:0px; margin-block-end:0px">{{ . }}</h3>
        {{ end }}
        {{ with .Params.subtitle_two }}
        <h2 style="margin-block-start:0px">{{ . }}</h2>
        {{ end }}
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{ .Content }}
      </div>
      <div>
        {{ range first 10 .Site.RegularPages }}
          {{ .Render "summary" }}
        {{ end }}
      </div>
      <!-- <h1 class="title">
        {{ i18n "hero1" }}<br /><span class="darker">{{ i18n "hero2" }}</span>
      </h1>

      <h2 class="subhero">{{ i18n "subhero" }}</h2>

      <p class="shortened-width">{{ i18n "explainerText" | markdownify }}</p> -->

      <!-- <a href="/about/about-us" class="button">{{ i18n "explainerButton" }}</a> -->
    </div>

    <div class="hero-grid__col2">
      <img
        width="585"
        height="530"
        src="{{ "images/kip_kranj.jpg" | relURL }}"
        alt="Maistrov doprsni kip v Kranju"
        loading="eager"
        decoding="async"
      />
    </div>
  </div>

  <h3 class="h4">{{ i18n "sectionTitle" | markdownify }}</h3>

  <div class="cards columns-3 box-grid" style="text-align:center">
    <div class="card">
      <h2 style="text-align:center">Leto generala Rudolfa Maistra</h2>
      <p style="text-align: left">Vlada Republike Slovenije se spominu na generala Maistra in v čast njegovim izjemnim zaslugam za slovenski narod poklanja z razglasitvijo leta 2024 za leto generala Rudolfa Maistra. </p>
      <a href="https://www.gov.si/zbirke/projekti-in-programi/2024-leto-generala-rudolfa-maistra/" class="button">Več ...</a>
    </div>

    <div class="card">
      <h2 style="text-align:center">Zveza društev General Maister</h2>
      <p style="text-align: left">Zveza društev general Maister je nepridobitna nevladna organizacija, ki deluje v javnem interesu in neguje sporočilnost generala Rudolfa Maistra ter borcev za severno mejo.</p>
      <a href="https://www.zvezadgm.si/" class="button"
        >Več ...</a
      >
    </div>

    <div class="card">
      <h2 style="text-align:center">Knjiga Stražarji Karavank</h2>
      <p style="text-align: left">Zbornik "Stražarji Karavank: Lojze Ude in boji za severno mejo" nam prvič nekoliko podrobneje predstavlja vlogo, ki jo je v tem času odigral pravnik, publicist in zgodovinar Lojze Ude, st.</p>
      <a href="/strazarji-karavank/" class="button">Odpri bralnik</a>
    </div>
  </div>

  <hr />
  <div class="story-paragraph">

    <h2>Rudolf Maister v Kranju</h2>
      Rudolf Maister je v Kranju preživel sedem let svojega življenja. 
      Družina se je leta 1883 preselila iz Mengša zaradi očetove službe pri finančnih stražnikih. 
      Tu je Rudolf nadaljeval šolanje: najprej štirirazredno deško ljudsko šolo in nato še nižjo gimnazijo. 
      <br><br>
      Maistrovi so živeli na današnjem Maistrovem trgu 5, nekdaj Mesto št. 150. 
      Hiša je bila takrat v lasti Marije Rubežnik. V njej so bivali do očetove smrti 1887. 
      Nato so se za tri leta preselili v sosednjo hišo in leta 1890 v Ljubljano; 
      tudi zaradi Rudolfovega nadaljnjega šolanja. 
      <br><br>
      Kranjčane danes na Maistra spominja spomenik - doprsni kip na pročelju hiše, delo Alenke Vidrgar. 
      Tu se vsako leto 23. novembra, na dan Rudolfa Maistra, Društvo general Rudolf Maister Kranj pokloni njegovemu spominu. 
      Tudi Rudolf Maister ni pozabil svojega bivanja v Kranju. 
      Mnogo kasneje je namreč v Kranju zaprosil za potrdilo o domovinstvu. 
      <br><br>
      S Kranjem pa generala povezuje še en dogodek. 
      Med 4. in 6. junijem 1919 so v Narodni čitalnici v Kranju potekala mirovna pogajanja 
      med jugoslovansko in nemško-avstrijsko delegacijo. 
      Udeležil se jih je tudi Maister, ki je na Kranjčane naredil velik vtis. 
      Zvečer, 5. junija 1919, so mu društvo Sokol, čitalnica in kranjsko gasilsko društvo pripravili počastitev ob plamenicah.
    </div>
<!--   <div class="columns landscape-grid">
    <div class="landscape-grid__col1">
      <a href="https://landscape.todogroup.org/">
        <img
          width="300"
          height="150"
          loading="lazy"
          src="{{ "img/ospo-landscape-logo.svg" | relURL }}"
          alt="{{ i18n "landscapeTitle" }}"
          decoding="async"
        />
      </a>
      <p>{{ i18n "landscapeText" | markdownify }}</p>
      <a href="https://landscape.todogroup.org/" class="button"
        >{{ i18n "landscapeButton" }}</a
      >
    </div>
    <div class="landscape-grid__col2">
      <div class="floating-effect"> -->
        <!-- Embed OSPO landscape as a PNG -->
<!--         <a
          href="https://landscape.todogroup.org/"
          alt="{{ i18n "landscapeTitle" }}"
        >
          <img
            src="https://landscape.todogroup.org/images/landscape.png"
            alt="{{ i18n "landscapeTitle" }}"
            width="818"
            height="492"
            loading="lazy"
            class="rounded-corners"
            decoding="async"
          />
        </a>
      </div>
    </div>
  </div> -->
{{ end }}